<nav class="top-header">
    <div class="right-section"> 
        <img src="../../assets/images/cities.svg" alt="logo">
        <img src="../../assets/images/takid.svg" alt="تأكيد">
        <div class="vertical-line"></div>
        <div class="dash-container">
            <span>مرحبا بك في لوحة التحكم</span>
            <h3>عبدالله ثابت</h3>
        </div>
    </div>
    <div class="left-section">
        <img src="../../assets/images/header-notif.svg" alt="notification">
        <div class="vertical-line"></div>
        <img src="../../assets/images/NoPath - Copy.png" alt="" class="person">
        <div class="person-data-container">
            <h3>عبدالله ثابت</h3>
            <span>مرحبا بك في لوحة التحكم</span>
        </div>
    </div>
</nav>

<nav
  class="navbar navb navbar-expand-lg  "
  aria-label="Twelfth navbar example"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample10"
      aria-controls="navbarsExample10"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            > <img src="../../assets/images/dash.svg" alt=""> لوحة التحكم
          </a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            ><img src="../../assets/images/time.svg" alt=""> سجل الوقت</a
          >
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            ><img src="../../assets/images/Path 222.svg" alt=""> التقارير</a
          >
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            ><img src="../../assets/images/noun_job_2043816.svg" alt=""> الوظائف</a
          >
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            ><img src="../../assets/images/icn-requests.svg" alt=""> الزبائن
          </a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            ><img src="../../assets/images/user.svg" alt=""> المستخدمين</a
          >
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            ><img src="../../assets/images/table.svg" alt=""> الجداول والمناوبات</a
          >
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active ty" aria-current="page" href="#"
            ><img src="../../assets/images/Flag Zone.svg" alt=""> المناطق والمواقع</a
          >
        </li>

        <li class="nav-item dropdown ms-3">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><img src="../../assets/images/noun_Settings_3687266.svg" alt=""> الاعدادات</a
          >
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
