<div class="container my-5">
  <div class="select-container">
    <select class="form-select form-select-lg years-select">
      <option value="2023">2023</option>
      <option value="2022">2022</option>
    </select>

    <select class="form-select form-select-lg gray-select">
      <option value="تقرير الربع الاول">تقرير الربع الاول</option>
      <option value="تقرير الربع الثاني">تقرير الربع الثاني</option>
      <option value="تقرير الربع الثالث">تقرير الربع الثالث</option>
      <option value="تقرير الربع الرابع">تقرير الربع الرابع</option>
    </select>

    <select class="form-select form-select-lg gray-select">
      <option value="EasternSector">القطاع الشرقي</option>
      <option value="westernSector">القطاع الغربي</option>
      <option value="middleSector">القطاع الأوسط</option>
    </select>
  </div>

  <div class="individual-chart-container">
    <div class="individual-chart" style="background: rgba(23, 184, 224, 0.08)">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions3.series!"
          [chart]="chartOptions3.chart!"
          [xaxis]="chartOptions3.xaxis!"
          [yaxis]="chartOptions3.yaxis!"
          [fill]="chartOptions3.fill!"
          [stroke]="chartOptions3.stroke!"
          [tooltip]="chartOptions3.tooltip!"
          [dataLabels]="chartOptions3.dataLabels!"
          [colors]="chartOptions3.colors!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background: rgba(23, 184, 224, 0.08)">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions2.series!"
          [chart]="chartOptions2.chart!"
          [xaxis]="chartOptions2.xaxis!"
          [yaxis]="chartOptions2.yaxis!"
          [fill]="chartOptions2.fill!"
          [stroke]="chartOptions2.stroke!"
          [tooltip]="chartOptions2.tooltip!"
          [dataLabels]="chartOptions2.dataLabels!"
          [colors]="chartOptions2.colors!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background: rgba(237, 33, 43, 0.03)">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background: rgba(138, 138, 165, 0.09)">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions4.series!"
          [chart]="chartOptions4.chart!"
          [xaxis]="chartOptions4.xaxis!"
          [yaxis]="chartOptions4.yaxis!"
          [fill]="chartOptions4.fill!"
          [stroke]="chartOptions4.stroke!"
          [tooltip]="chartOptions4.tooltip!"
          [dataLabels]="chartOptions4.dataLabels!"
          [colors]="chartOptions4.colors!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background-color: #edf3e8">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions5.series!"
          [chart]="chartOptions5.chart!"
          [xaxis]="chartOptions5.xaxis!"
          [yaxis]="chartOptions5.yaxis!"
          [fill]="chartOptions5.fill!"
          [stroke]="chartOptions5.stroke!"
          [tooltip]="chartOptions5.tooltip!"
          [dataLabels]="chartOptions5.dataLabels!"
          [colors]="chartOptions5.colors!"

        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background-color: #fffbf0">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions6.series!"
          [chart]="chartOptions6.chart!"
          [xaxis]="chartOptions6.xaxis!"
          [yaxis]="chartOptions6.yaxis!"
          [fill]="chartOptions6.fill!"
          [stroke]="chartOptions6.stroke!"
          [tooltip]="chartOptions6.tooltip!"
          [dataLabels]="chartOptions6.dataLabels!"
          [colors]="chartOptions6.colors!"

        ></apx-chart>
      </div>
    </div>
  </div>
</div>
