<div class="container my-5 ">
    <div class="row select-container container">
        <div class="mb-3 col-lg-2 years-select-container">

            <select class="form-select form-select-lg years-select" name="" id="">
                <option value="" selected>2023</option>
                <option value="">2022</option>
                <option value="">2021</option>
            </select>
        </div>

        <div class="mb-3 col-lg-2">
            <select class="form-select form-select-lg gray-select" name="" id="">
                <option selected>تقرير الربع الاول</option>
                <option value="">New Delhi</option>
                <option value="">Istanbul</option>
                <option value="">Jakarta</option>
            </select>
        </div>

        <div class="mb-3 col-lg-2">
            <select class="form-select form-select-lg gray-select" name="" id="">
                <option selected> القطاع الشرقي</option>
                <option value="">New Delhi</option>
                <option value="">Istanbul</option>
                <option value="">Jakarta</option>
            </select>
        </div>


    </div>

    <div class="individual-chart-container container ">
        <div class="individual-chart " style="background-color: #E5F2F8 ">
            <div class="d-flex justify-content-between align-center p-3">
                <h6>عدد وفيات الحوادث</h6>
                <h4>123</h4>
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
                    [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!"></apx-chart>
            </div>
        </div>
        <div class="individual-chart " style="background-color: #E5F2F8; ">
            <div class="d-flex justify-content-between align-center p-3">
                <h6>عدد وفيات الحوادث</h6>
                <h4>123</h4>
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
                    [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!"></apx-chart>
            </div>
        </div>
        <div class="individual-chart" style="background-color: #F6F0F2 ">
            <div class="d-flex justify-content-between align-center p-3">
                <h6>عدد وفيات الحوادث</h6>
                <h4>123</h4>
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
                    [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!"></apx-chart>
            </div>
        </div>
        <div class="individual-chart" style="background-color:#EEEDF3; ">
            <div class="d-flex justify-content-between align-center p-3">
                <h6>عدد وفيات الحوادث</h6>
                <h4>123</h4>
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
                    [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!"></apx-chart>
            </div>
        </div>
        <div class="individual-chart" style="background-color:#EDF3E8; ">
            <div class="d-flex justify-content-between align-center p-3">
                <h6>عدد وفيات الحوادث</h6>
                <h4>123</h4>
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
                    [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!"></apx-chart>
            </div>
        </div>
        <div class="individual-chart" style="background-color:#FFFBF0; ">
            <div class="d-flex justify-content-between align-center p-3">
                <h6>عدد وفيات الحوادث</h6>
                <h4>123</h4>
            </div>
            <div id="chart">
                <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
                    [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!"></apx-chart>
            </div>
        </div>

    </div>
</div>