<div class="container my-5">
  <div class="select-container">
    <select class="form-select form-select-lg years-select">
      <option value="2023">2023</option>
      <option value="2022">2022</option>
    </select>

    <select class="form-select form-select-lg gray-select">
      <option value="تقرير الربع الاول">تقرير الربع الاول</option>
      <option value="تقرير الربع الثاني">تقرير الربع الثاني</option>
      <option value="تقرير الربع الثالث">تقرير الربع الثالث</option>
      <option value="تقرير الربع الرابع">تقرير الربع الرابع</option>
    </select>

    <select class="form-select form-select-lg gray-select">
      <option value="EasternSector">القطاع الشرقي</option>
      <option value="westernSector">القطاع الغربي</option>
      <option value="middleSector">القطاع الأوسط</option>
    </select>
  </div>

  <div class="individual-chart-container">
    <div class="individual-chart" style="background-color: #e5f2f8">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background-color: #e5f2f8">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background-color: #f6f0f2">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background-color: #eeedf3">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background-color: #edf3e8">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
        ></apx-chart>
      </div>
    </div>
    <div class="individual-chart" style="background-color: #fffbf0">
      <div class="d-flex justify-content-between align-center p-3">
        <h6>عدد وفيات الحوادث</h6>
        <h4>123</h4>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
          [stroke]="chartOptions.stroke!"
          [tooltip]="chartOptions.tooltip!"
          [dataLabels]="chartOptions.dataLabels!"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
