<div class="d-flex justify-content-between align-item-center">
  <h3>الاحصائيات للمناطق</h3>
  <div class="row selects-container">
    <div class="mb-3 col-lg-8 select-container">
      <select class="form-select form-select-lg">
        <option value="Q1" selected>تقرير الربع الاول</option>
        <option value="Q2">تقرير الربع الثاني</option>
        <option value="Q3">تقرير الربع الثالث</option>
        <option value="Q4">تقرير الربع الرابع</option>
      </select>
    </div>
  </div>
</div>
<div class="map-container">
  <div class="content">
    <span
      ><img src="../../assets/images/location1.svg" alt="" /> أكثر الحوادث
      المروريه للمنطقه</span
    >
    <span
      ><img src="../../assets/images/location2.svg" alt="" /> أكثر الوقائع
      الأمنية للقضايا الجنائية</span
    >
  </div>

  <img class="map-image" src="../../assets/images/map.png" alt="" />
</div>
