@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}
